body{
  font-family: Helvetica;
  text-align: center;
}
p{
  font-size: 14px;
}
.companyname{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a{
  font-size: 18px;
  color: white;
}
.header{
  background-image: url("../images/the-flatiron-building.png");
  backround-size: cover;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
